---
// components
import Heading from "@/components/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { db } from "astro:db";
import { Review } from "astro:db";

const reviews = await db.select().from(Review);
---

<BaseLayout
  title="Astro Code Review"
  description="Submit your Astro site for a live code review."
>
  <section
    class="grid place-items-center content-center gap-4 sm:gap-6 text-center px-4"
    aria-label="Admin Page"
  >
    <div class="fade-in shift-up">
      <Heading tagType="h1" size="lg" classes="fade-in shift-up">
        Admin Page
      </Heading>

      {
        reviews.map((item) => (
          <ul>
            <li>{item.name}</li>
            <li>
              <a href={item.demoUrl}>{item.demoUrl}</a>
            </li>
            <li>
              <a href={item.repoUrl}>{item.repoUrl}</a>
            </li>
            <li>Is featured: {item.featured}</li>
            <li>Is reviewed: {item.isReviewed}</li>
          </ul>
        ))
      }
    </div>
    <form id="signout">
      <button>Sign Out</button>
    </form>

    <script>
      import { actions } from "astro:actions";

      const form = document.getElementById("signout") as HTMLFormElement;
      form?.addEventListener("submit", async (event) => {
        event.preventDefault();

        await actions.logout.safe({});

        window.location.href = "/";
      });
    </script>
  </section>
</BaseLayout>
